@import url("styles/hedear.css");
@import url("styles/Banner.css");
@import url("styles/carrossel.css");
@import url("styles/Topicos.css");
@import url("styles/novidades.css");
@import url("styles/rodape.css");

:root {
  --cor-de-fundo: #ebecee;
  --cor-laranja: #eb9b00;
  --cor-azul-degrade: linear-gradient(
    97.54deg,
    #002f52 35.49%,
    #326589 165.37%
  );
  --cord-azul: #002f52;
  --cor-branca: #ffffff;
  --cor-cinza-claro:#858585;
  --cor-cinza-escuro:#474646;
  --cor-preta: #000000;
  --fonte-secundaria: "Josefin Sans";
  --fonte-primaria: "Poppins";
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-primaria);
  font-size: 16px;
}
