.carrossel__titulo {
  background-color: var(--cor-branca);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding: 1em 0 0.5em 0;
  color: var(--cor-laranja);
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em;
}

.card {
  background-color: var(--cor-branca);
  border-radius: 8px;
  padding: 1em;
  margin: 1em;
}

.card__descrição {
  display: flex;
  justify-content: space-between;
}

.descrição__titulo {
  font-weight: 700;
  color: var(--cor-laranja);
}

.descrição__titulo--livro {
  font-size: 18px;
  font-weight: 700;
  padding: 0.5em 0 0.5em 0;
}

.descrição__texto {
  font-size: 14px;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
}

.botoes__ancora {
  background-color: var(--cor-laranja);
  margin: 1em;
  padding: 1em;
  border-radius: 8px;
  color: var(--cor-branca);
  text-decoration: none;
}

.descrição {
  padding: 0 1em 0 0;
}

.estrelinha {
  margin-bottom: 0.5em;
}

.botoes__item {
  padding: 1em 0 0 0;
}

@media screen and (min-width: 1024px) {
  .carrossel {
    align-items:  center;
  }
  
  .carrossel__titulo {
    padding: 2.5em 0 1em 0;
    font-size: 26px;
  }

  .swiper-pagination {
    margin: 1em 0 5em 0;
  }

  .swiper {
    width: 60%;
  }

  .card {
    width: 40%;
    margin: 2.5em auto;
  }

  .swiper-button-prev,
.swiper-button-next {
  display: block;
  top: 65%;
}
}